body {
    background: #F7E2C7;
    font-family: 'Poppins';
}

.card {
    margin:auto;
    width: 50%;
    /* border-radius: 2px; */
    /* border:1px solid; */
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    max-width: 1000px;
    min-width: 200px;
    max-height: 500px;
}

.perfume-image {
   width:50%;
}

.prices {
    display: flex;
    flex-direction: row;
}

.product-type {
    padding-bottom: 1em;
}

.product-title{
    padding-bottom: 1em;
    font-size: 24px
}

.product-description {
    padding-bottom: 1em;
}

.prices {
    padding-bottom: 1em;
}

.right-text {
    color: #000;
    padding: 2em;
}

.final-price {
    color:#08392B;
    font-size: 24px;
}

.add-btn {
    color: #fff;
    background-color: #08392B;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
}

.noto {
    font-family: 'Noto Serif', serif;
}